In [32]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
data = pd.read_csv('../data/cells/test.csv')
data.head()

          id_code experiment  plate well
0  HEPG2-08_1_B03   HEPG2-08      1  B03
1  HEPG2-08_1_B04   HEPG2-08      1  B04
2  HEPG2-08_1_B05   HEPG2-08      1  B05
3  HEPG2-08_1_B06   HEPG2-08      1  B06
4  HEPG2-08_1_B07   HEPG2-08      1  B07

In [67]:
controls = pd.concat([
    pd.read_csv('../data/cells/train_controls.csv'),
    pd.read_csv('../data/cells/test_controls.csv'),
])
controls.head()

          id_code experiment  plate well  sirna         well_type
0  HEPG2-01_1_B02   HEPG2-01      1  B02   1138  negative_control
1  HEPG2-01_1_C03   HEPG2-01      1  C03   1109  positive_control
2  HEPG2-01_1_C07   HEPG2-01      1  C07   1121  positive_control
3  HEPG2-01_1_C11   HEPG2-01      1  C11   1126  positive_control
4  HEPG2-01_1_C15   HEPG2-01      1  C15   1118  positive_control

In [95]:
s = None
u = controls.groupby(['experiment', 'plate'])['sirna'].unique()
print(len(u))

for row in u:
    if s is None:
        s = set(row)
        
    s = s.intersection(row)
    print(len(s))



# print(count == count_unique)

204
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
30
30
30
30
30
30
30
30
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
26
25
24
23
23
23
23
23
22
21
20
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18