In [69]:
import pandas as pd
import matplotlib.pyplot as plt

In [70]:
# data = pd.read_csv('../data/cells/test.csv')
# data.head()

In [71]:
controls = pd.concat([
    pd.read_csv('../data/cells/train_controls.csv'),
    pd.read_csv('../data/cells/test_controls.csv'),
])
controls.head()

          id_code experiment  plate well  sirna         well_type
0  HEPG2-01_1_B02   HEPG2-01      1  B02   1138  negative_control
1  HEPG2-01_1_C03   HEPG2-01      1  C03   1109  positive_control
2  HEPG2-01_1_C07   HEPG2-01      1  C07   1121  positive_control
3  HEPG2-01_1_C11   HEPG2-01      1  C11   1126  positive_control
4  HEPG2-01_1_C15   HEPG2-01      1  C15   1118  positive_control

In [72]:
len(controls.groupby(['experiment', 'plate']))

204

In [80]:
controls = controls.iloc[(controls['well_type'] == 'negative_control').values]
len(controls.groupby(['experiment', 'plate']))

204

In [81]:
controls['sirna'].unique()

array([1138])

In [83]:
controls.groupby(['experiment', 'plate'])

In [43]:
s = None
u = controls.groupby(['experiment', 'plate'])['sirna'].unique()
# print(len(u))

for row in u:
    if s is None:
        s = set(row)
        
    s = s.intersection(row)
    print(len(s))

# print(count == count_unique)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1